[submodule "poky"]
	path = poky
	url = https://git.yoctoproject.org/poky
	branch = scarthgap
[submodule "meta-ti"]
	path = meta-ti
	url = https://git.yoctoproject.org/meta-ti
	branch = scarthgap
[submodule "meta-arm"]
	path = meta-arm
	url = https://git.yoctoproject.org/meta-arm
	branch = scarthgap
[submodule "meta-openembedded"]
	path = meta-openembedded
	url = https://github.com/openembedded/meta-openembedded.git
	branch = scarthgap
[submodule "meta-rust"]
	path = meta-rust
	url = https://github.com/meta-rust/meta-rust.git
	branch = scarthgap
[submodule "meta-rust-bin"]
	path = meta-rust-bin
	url = git@github.com:rust-embedded/meta-rust-bin.git
	branch = master
